body {
  margin: min(1vw, 1vh);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(10vw, 10vh));
  grid-auto-rows: min(10vw, 10vh);
  max-width: calc(12 * min(10vw, 10vh) + 11 * min(1vw, 1vh));
  gap: min(1vw, 1vh);
}

#foo {
  grid-column: span 9;
  grid-row: span 9;
}

canvas {
  width: 100%;
  height: 100%;
}

.bigtile {
  background-color: pink;
  overflow: hidden;
  grid-column: span 3;
  grid-row: span 3;
}

textarea {
  resize: none;
}

button {
  overflow: hidden;
}
